[Unit]
Description=CoraBotSitsit
Wants=network-online.target

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
Restart=always
RestartSec=5s
ExecStart=/root/CoraBotSitsit/start.sh
WorkingDirectory=/root/CoraBotSitsit